name: Dependency Review

on:
  pull_request:
    branches: [main]
    # The following filters are recommended for higher security
    paths:
    - pyproject.toml
    - uv.lock
    - .github/workflows/dependency-review.yml

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Dependency Review
      uses: actions/dependency-review-action@v4
      with:
          # Possible values: "critical", "high", "moderate", "low"
        fail-on-severity: high
        deny-licenses: GPL-3.0, AGPL-3.0
          # Check only direct dependencies (more practical in most cases)
          # Set to "all" to check all dependencies
        dependency-type: direct
